// COLORS
$main-active-color: #f05451;
$main-background-color: #f8f7ee;
$main-text-color: #29324e;
$secondary-active-color: #c3c2b9;
$secondary-background-color: white;
$secondary-text-color: #c3c2b9;
$shadow-color: rgba(0, 0, 0, 0.07);

// TYPO
$font-family: "PT Sans", sans-serif;

// TAB MENU
@mixin menu {
	text-align: center;
	font-weight: 700;
}

@mixin menu-item {
	padding: 10px 20px 10px 20px;
	display: block;
}

@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
}

@mixin active {
	@include box-shadow(inset 0 2px 0 $main-active-color);
	background-color: $main-background-color;
  color: $main-active-color;
	&:hover {
  	color: $main-active-color;
	}
}

@mixin inactive {
	background-color: $secondary-background-color;
	color: $secondary-text-color;
	&:hover {
  	color: $main-text-color;
	}
}

nav {
	@include menu;
	ul {
		background-color: $secondary-background-color;
    li {
    	@include inactive;
	    display: inline-block;
    	a {
    		@include menu-item;
    	}
			.selected {
		    @include active;
			}
    }

	}
}

// CHAT 
@mixin chat-box {
	@include box-shadow(0px 2px 0px $shadow-color);
	margin: 10px;
	padding: 5px 15px;	
  background: $secondary-background-color;
  color: $main-text-color;
  border-radius: 2px;
}

.chat {
	ol {
		li {
			@include chat-box;
		}
	}
}

// MAIN

body {
	background-color: $main-background-color;
  font-family: $font-family;
}

// RESET
p {
	margin: 0;
	padding: 0;
}
body {
	padding: 0;
	margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}