nav {
  text-align: center;
  font-weight: 700; }
  nav ul {
    background-color: white; }
    nav ul li {
      background-color: white;
      color: #c3c2b9;
      display: inline-block; }
      nav ul li:hover {
        color: #29324e; }
      nav ul li a {
        padding: 10px 20px 10px 20px;
        display: block; }
      nav ul li .selected {
        box-shadow: inset 0 2px 0 #f05451;
        -moz-box-shadow: inset 0 2px 0 #f05451;
        -webkit-box-shadow: inset 0 2px 0 #f05451;
        background-color: #f8f7ee;
        color: #f05451; }
        nav ul li .selected:hover {
          color: #f05451; }

.chat ol li {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
  margin: 10px;
  padding: 5px 15px;
  background: white;
  color: #29324e;
  border-radius: 2px; }

body {
  background-color: #f8f7ee;
  font-family: "PT Sans", sans-serif; }

p {
  margin: 0;
  padding: 0; }

body {
  padding: 0;
  margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

ol {
  list-style: none;
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
